.form-search {
  display: flex;
  justify-content: space-between;
}

.form-search__input {
  margin: 0 8px 0 0;
  min-width: 328px;
}

.form-search__button {
  margin: 0 0 0 0;
}

@media (max-width: 768px) {
  .form-search {
    height: 100%;
    width: 100%;
  }

  .form-search__input {
    min-width: 0;
    margin-left: 5%;
  }

  .form-search__button {
    margin-right: 5%;
  }
}
