.header {
  width: 100%;
  height: 112px;
  background-image: linear-gradient(
    200deg,
    hsl(266, 85%, 40%),
    hsl(236, 66%, 42%)
  );
  flex: 0 0 auto;
}

.header__background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-image: url("./../../img/header-background.svg");
  background-size: 320% 320%;
  background-position: 54.5% 23%;
  background-repeat: no-repeat;
}

.header__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 218px;
  margin-left: 10%;
}

.header__name {
  width: 152px;
  height: 40px;
  font-family: Muli, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  color: #ffffff;
}

.header__unread-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #ff584f;
  font-family: Muli, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  text-align: center;
  color: #ffffff;
}

.header__form-search {
  margin-right: 10%;
}

@media (max-width: 768px) {
  .header {
    min-width: 320px;
    height: 122px;
    background-image: linear-gradient(
      200deg,
      hsl(274, 85%, 40%),
      hsl(236, 66%, 42%)
    );
  }

  .header__background {
    flex-direction: column;
    background-size: 280% 280%;
    background-position: 46% 23%;
  }

  .header__headline {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }

  .header__name {
    width: 104px;
    height: 30px;
    font-size: 22px;
    line-height: 1.36;
    margin-left: 5%;
  }

  .header__unread-messages {
    width: 42px;
    min-width: 42px;
    height: 24px;
    font-size: 12px;
    line-height: 1.5;
    margin-right: 5%;
  }

  .header__form-search {
    margin-right: 0;
  }
}
