.messages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-height: 100%;
  background-color: hsl(234, 56%, 96%);
  padding: 24px 0 0 0;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-list__item {
  max-width: 80%;
  margin: 0 0 14px 0;
}

@media (max-width: 768px) {
  .messages-list {
    padding: 16px 0 0 0;
    min-width: 320px;
  }

  .messages-list__item {
    max-width: 90%;
    margin: 0 0 8px 0;
  }
}
